    {{> headercustomer}}

    <input type="checkbox" id="modal-change-password" hidden>
    <label for="modal-change-password" class="hidden-layer"></label>
    <div class="form-changepass">
        <label for="modal-change-password" class="close">
            <i class="fas fa-times"></i>
        </label>
        <h3>Change password</h3>
        <form action="">
    <div class="form-group">
            <label for="old-pass">Current password</label>
            <input type="password" id="old-password" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="new-pass">New password</label>
            <input type="password" id="new-password" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="repeat-pass">Repeat password</label>
            <input type="password" id="repeat-password" autocomplete="off">
        </div>
        <div class="form-group">
           <button id="btn-change">Change</button>
        </div>
        </form>
    </div>
   <div class="main">
    <style>
        .main {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container {
            width: 700px;
            background: rgb(243, 243, 243);
            padding: 24px 50px;
        }

        .container img {
            max-width: 100%;
        }
    </style>
    <div class="container">
        <h2>Giá trị tích lũy niềm tin </h2>
        <img src="/images/homepage.jpg" alt=""> <br>
        <br>
        <b><u>Lời ngỏ:</u></b> <br>
        Chúng tôi đánh giá tất cả các mối quan hệ kinh doanh của chúng tôi với khách hàng. Chúng tôi đã đặc biệt thích
        nhu
        cầu cung cấp giấy của bạn trong năm năm qua. Bạn hiểu, tại sao chúng tôi đã quan tâm mà bạn đã không đặt hàng
        trong
        sáu tháng qua. Nếu chúng tôi đã xúc phạm bạn trong bất kỳ cách nào, chúng tôi chân thành xin lỗi và muốn lấy lại
        thiện chí của bạn. Chúng tôi sẽ đánh giá cao nếu được biết làm thế nào để phục vụ bạn tốt hơn. Chúng tôi có kèm
        theo
        tài liệu quảng cáo các sản phẩm mùa thu mới của chúng tôi. Vì chúng tôi đã phục vụ bạn trong một thời gian dài
        như
        vậy, chúng tôi có thể cung cấp giá bạn rằng so sánh được với giá trên hợp đồng trước đó của bạn. Chúng tôi tin
        rằng
        cả hai sản phẩm mới và tiêu chuẩn của chúng tôi có thể đáp ứng nhu cầu của bạn trong mọi cách. Chúng tôi hy vọng
        được nghe từ bạn.
    </div>
</div>

    <script src="/script/me/home.js"></script>
