{{> headercustomer}}

<div class="container mt-5">
    Receipt
    <form action="" id="form-view-receipt">
        <div class="form-group">
            <select class="form-control" name="month" id="month">
                <option value="">--</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            <input type="text" placeholder="Year" id="year">
            <button class="btn btn-primary">View</button>
        </div>
    </form>
    <div class="container">
        <div class="receipts">

        </div>
    </div>
</div>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<script>
    document.querySelectorAll('.header__items ul li')[4].classList.add('active-item')
    let formViewReceipt = document.querySelector('#form-view-receipt')
    formViewReceipt.onsubmit = (e) => {
        e.preventDefault();
        let month = document.querySelector('#month').value
        let year = document.querySelector('#year').value

        if (year < 1000 || year > 2040) {
            showErrorToast('Year not valid')
            return
        }
        $.ajax({
            url: "/me/get-receipt",
            type: 'POST',
            data: { year: year, month: month },
            success: function (response) {
                console.log(response.receipts)
                renderReceipts(response.receipts)
            }
        })
    }
    function renderReceipts(receipts) {
        let main = document.querySelector('.receipts')
        main.innerHTML = ``
        receipts.forEach(receipt => {
            main.innerHTML += `<table class="table">
                <thead class="thead-light">
                    <button class="btn btn-primary"> ${receipt.month} / ${receipt.year} </button>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Electric</th>
                        <td>${receipt.electric} VND</td>
                    </tr>
                    <tr>
                        <th scope="row">Water</th>
                        <td>${receipt.water} VND</td>
                    </tr>
                    <tr>
                        <th scope="row">Service</th>
                        <td>${receipt.service} VND</td>
                    </tr>
                    <tr>
                        <th scope="row">Room price</th>
                        <td>${receipt.roomprice} VND</td>
                    </tr>
                    <tr>
                        <th scope="row">Total</th>
                        <td> <button class="btn btn-primary">${receipt.total} VND </button>  </td>
                    </tr>
                    <tr>
                        <th scope="row">Status</th>
                        <td> ${receipt.status == 'paid' ? (`
                            Paid at ${receipt.updatedAt}`) : (`<button class="btn btn-danger">unpaid</button>
                            </br>Billing Information <br>
        Account number: 123456789 <br>
        Account name: Admin <br>
        Content: payment for room in ${receipt.month} / ${receipt.year} . Room  ${receipt.roomnumber}`)}  </td>
                    </tr>
                </tbody>
            </table>
            `
        })
    }
</script>