<header class="header">
    <div class="nav__content bd-grid">
        <div class="nav__menu">
            <ul class="nav__list">
                <li class="nav__item"><a href="/admin/home" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="/admin/rooms" class="nav__link">Rooms</a></li>
                <li class="nav__item"><a href="/admin/accounts" class="nav__link">Accounts</a></li>
                <li class="nav__item"><a href="/admin/devices" class="nav__link">Devices</a></li>
                <li class="nav__item"><a href="/admin/customers" class="nav__link">Customers</a></li>
                <li class="nav__item"><a href="/admin/notifications" class="nav__link">Notifications</a></li>
                <li class="nav__item"><a href="/admin/jobs" class="nav__link">Jobs</a></li>
                <li class="nav__item"><a href="/admin/staff" class="nav__link">Staff</a></li>
                <li class="nav__item"><a href="/admin/receipt" class="nav__link">Receipt</a></li>
                <li class="nav__item"><a href="/admin/repair" class="nav__link">Repair</a></li>
                <li class="nav__item"><a href="/admin/revenue" class="nav__link">Revenue</a></li>
                <li class="nav__item"><a href="/admin/service" class="nav__link">Services</a></li>
            </ul>
        </div>
        <div class="nav__social">
            <a href="#" class="nav__social-icon" data-toggle="modal" data-target="#modal-change-pass">
                <ion-icon name="lock-closed"></ion-icon>
            </a>
            <a href="/login" class="nav__social-icon">
                <ion-icon name="log-out"></ion-icon>
            </a>
        </div>
    </div>
</header>
<form action="/change-pass" method="post">
    <div class="modal fade" id="modal-change-pass" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Change Password account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="">Current Password</label>
                        <input required type="password" placeholder="Current password" class="form-control"
                            name="currentpassword">
                    </div>
                    <div class="form-group">
                        <label for="">New Password</label>
                        <input required type="password" placeholder="New password" class="form-control"
                            name="newpassword">
                    </div>
                    <div class="form-group">
                        <label for="">Confirm Password</label>
                        <input required type="password" placeholder="Confirm password" class="form-control"
                            name="confirmpassword">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>
