<div class="header">
    <div class="header__content">
        <div class="header__logo">
            <i class="fas fa-hotel"></i>
        </div>
        <div class="header__items">
            <ul>
                <li>
                    <a href="/admin/home">
                        {{!-- <i class="fas fa-tachometer-alt"></i> --}}
                        Home
                    </a>
                </li>
                <li class="">
                    <a href="/admin/rooms">
                        {{!-- <i class="fas fa-laptop-house"></i> --}}
                        Rooms
                    </a>
                </li>
                <li>
                    <a href="/admin/devices">
                        {{!-- <i class="fas fa-laptop-code"></i> --}}
                        Devices
                    </a>
                </li>
                <li>
                    <a href="/admin/accounts">
                        {{!-- <i class="fas fa-user-friends"></i> --}}
                        Accounts
                    </a>
                </li>
                <li>
                    <a href="/admin/customers">
                        {{!-- <i class="fas fa-users-cog"></i> --}}
                        Customers
                    </a>
                </li>
                <li>
                    <a href="/admin/notifications">
                        {{!-- <i class="fas fa-bell"></i> --}}
                        Notification
                    </a>
                </li>
                <li>
                    <a href="/admin/jobs">
                        {{!-- <i class="fas fa-briefcase"></i> --}}
                        Job
                    </a>
                </li>
                <li>
                    <a href="/admin/staff">
                        {{!-- <i class="fas fa-user-astronaut"></i> --}}
                        Staff
                    </a>
                </li>
                <li>
                    <a href="/admin/receipt">
                        {{!-- <i class="fas fa-receipt"></i> --}}
                        Receipt
                    </a>
                </li>
                <li>
                    <a href="/admin/repair">
                        {{!-- <i class="fas fa-tools"></i> --}}
                        Repair
                    </a>
                </li>
                <li>
                    <a href="/admin/revenue">
                        {{!-- <i class="fas fa-coins"></i> --}}
                        Revenue
                    </a>
                </li>
            </ul>
        </div>
        <div class="header__out change-pass-block">
            <label for="modal-change-password" class="change-password"><i class="fas fa-lock"></i>
            </label>
        </div>
        <div class="header__out">
            <a href="/login"> LogOut <i class="fas fa-power-off"></i></a>
        </div>

    </div>
</div>

<input type="checkbox" id="modal-change-password" hidden>
<label for="modal-change-password" class="hidden-layer"></label>
<div class="form-changepass">
    <label for="modal-change-password" class="close">
        <i class="fas fa-times"></i>
    </label>
    <h3>Change password</h3>
    <form action="">
        <div class="form-group">
            <label for="old-pass">Current password</label>
            <input type="password" id="old-password" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="new-pass">New password</label>
            <input type="password" id="new-password" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="repeat-pass">Repeat password</label>
            <input type="password" id="repeat-password" autocomplete="off">
        </div>
        <div class="form-group">
            <button id="btn-change">Change</button>
        </div>
    </form>
</div>