<div class="header">
    <div class="header__content">
        <div class="header__logo">
            <i class="fas fa-hotel"></i>
        </div>
        <div class="header__items">
            <ul>
                <li>
                    <a href="/staff/home">
                        <i class="fas fa-tachometer-alt"></i> Home
                    </a>
                </li>
                <li>
                    <a href="/staff/me">
                        <i class="fas fa-user-tie"></i> My infor
                    </a>
                </li>
                <li>
                    <a href="/staff/jobs">
                        <i class="fas fa-briefcase"></i> Job
                    </a>
                </li>
                <li>
                    <a href="/staff/my-job">
                        <i class="fas fa-briefcase"></i> My Job
                    </a>
                </li>
                <li>
                    <a href="/staff/salary">
                        <i class="fas fa-money-bill-wave"></i> Salary
                    </a>
                </li>
            </ul>
        </div>

        <div class="header__out change-pass-block">
            <label for="modal-change-password" class="change-password"><i class="fas fa-lock"></i> Change password
            </label>
        </div>
        <div class="header__out">
            <a href="/login"> LogOut <i class="fas fa-power-off"></i></a>
        </div>
    </div>
</div>

<input type="checkbox" id="modal-change-password" hidden>
<label for="modal-change-password" class="hidden-layer"></label>
<div class="form-changepass">
    <label for="modal-change-password" class="close">
        <i class="fas fa-times"></i>
    </label>
    <h3>Change password</h3>
    <form action="">
        <div class="form-group">
            <label for="old-pass">Current password</label>
            <input type="password" id="old-password" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="new-pass">New password</label>
            <input type="password" id="new-password" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="repeat-pass">Repeat password</label>
            <input type="password" id="repeat-password" autocomplete="off">
        </div>
        <div class="form-group">
            <button id="btn-change">Change</button>
        </div>
    </form>
</div>