<div class="header">
    <div class="header__content">
        <div class="header__logo">
            <i class="fas fa-hotel"></i>
        </div>
        <div class="header__items">
            <ul>
                <li>
                    <a href="/me/home">
                        <i class="fas fa-tachometer-alt"></i> Home
                    </a>
                </li>
                <li class="">
                    <a href="/me/myinfor">
                        <i class="fas fa-laptop-house"></i>
                        My Infor
                    </a>
                </li>
                <li>
                    <a href="/me/room">
                        <i class="fas fa-laptop-code"></i>
                        My Room
                    </a>
                </li>
                <li>
                    <a href="/me/notification">
                        <i class="fas fa-bell"></i> Notification
                    </a>
                </li>

                <li>
                    <a href="/me/receipt">
                        <i class="fas fa-receipt"></i> Receipt
                    </a>
                </li>

                <li>
                    <a href="/me/repair">
                        <i class="fas fa-tools"></i> Repair
                    </a>
                </li>
                <li>
                    <a href="/me/jobs">
                        <i class="fas fa-briefcase"></i> Jobs
                    </a>
                </li>
            </ul>
        </div>

        <div class="header__out change-pass-block">
            <label for="modal-change-password" class="change-password"><i class="fas fa-lock"></i> Change password
            </label>
        </div>
        <div class="header__out">
            <a href="/login"> LogOut <i class="fas fa-power-off"></i></a>
        </div>
    </div>
</div>

<input type="checkbox" id="modal-change-password" hidden>
<label for="modal-change-password" class="hidden-layer"></label>
<div class="form-changepass">
    <label for="modal-change-password" class="close">
        <i class="fas fa-times"></i>
    </label>
    <h3>Change password</h3>
    <form action="">
        <div class="form-group">
            <label for="old-pass">Current password</label>
            <input type="password" id="old-password" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="new-pass">New password</label>
            <input type="password" id="new-password" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="repeat-pass">Repeat password</label>
            <input type="password" id="repeat-password" autocomplete="off">
        </div>
        <div class="form-group">
            <button id="btn-change">Change</button>
        </div>
    </form>
</div>