    {{> header}}

    <div class="container-notification">
         <div class="back"><a href="/admin/notifications">Back</a></div>
        <div class="title">
            <h2>{{data.title}}</h2>
            <p>{{data.createdAt}}</p>
        </div>
        <div class="content-notification">
            {{data.text}}
        </div>
    </div>